/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.name {
    text-transform: capitalize;
}

.page-title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    div {
        text-align: right;
    }
}

.navbar-brand {
    text-transform: capitalize;
} 